<% if model.errors.any? %>
<div class="error-alert">
  <ul>
    <% model.errors.each do |attr, msg| %>
      <% if model.errors[attr].first == msg %>
        <li> <%= "#{attr} #{msg}" %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<% end %>
