<header class='top-header'>
  <% if user_signed_in? %>
    <ul class="login-list">
      <li><%= link_to current_user.name, "#", class: "user-name" %></li>
         <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      </ul>
  <% else %>
    <ul class='lists-right'>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    </ul>
  <% end %>

</header>
