/* 全体 */

ul {
  list-style: none;
}

li {
  margin: 0 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
}

/* 全体.xyz */

/* ヘッダー */
header {
  height: 75px;
  width: 100vw;
  background-image: linear-gradient(to right, #68ACEA 0%, #92C8E8 100%);
}

.top-space {
  margin: 0 20px;
}

.top-name {
  color: #E12800;
  text-decoration: none;
}

.top-name:hover {
  border-bottom: 3px solid #E12800;
}

.login-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 25px;
}

.new-item ,.user-name {
  color: black;
  text-decoration: none;
}

.user-name:hover {
  color: #DC2B14;
  border-bottom: 1px solid #DC2B14;
}

.new-item:hover {
  color: #DC2B14;
  border-bottom: 1px solid #DC2B14;
}

.login {
  border: 2px solid darkblue;
  padding: 5px;
  color: blue;
  border-radius: 5px;
  text-decoration: none;
}

.login:hover {
  color: #91C2E1;
  background-color: blue;
}

.logout {
  border: 2px solid darkblue;
  border-radius: 5px;
  background: #F4C600;
  color: #E12800;
  padding: 5px;
  text-decoration: none;
}

.logout:hover {
  color: #F4C600;
  background: #E12800;
}

/* ヘッダー.xyz */

/* フッター */

footer {
  height: 25px;
  width: 100%;
  background-color: #91C2E1;
  margin-top: auto;
}

.footer {
  display: flex;
	justify-content: center;
	align-items: center;
}

.footer-font {
  font-size: 10px;
  color: lightslategray;
}



/* フッター.xyz */

/* ログイン画面 */



.registration {
  display: block;
  justify-content: center;
  align-content: center;
  margin-left: 10px;
  margin-top: 10px;
}

.container {
  width: 100vw;
  padding: 40px 40px;
  display: flex;
	justify-content: center;
  align-items: center;
}

.submit {
  width: 450px;
  background-color: #F7F7F7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form {
  direction: ltr;
    height: 200px;
    font-size: 16px;
}

.finld-line {
  width: 400px;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 2px 0 5px;
  font-size: 15px;
}



.actions-position {
  display: flex;
  justify-content: center;
  align-self: center;
}

.actions {
  top:calc(50% - 50px/2);
  left:calc(50% - 50px/2);
  display: flex;
  justify-content: center;
  align-self: center;
  text-decoration : underline;
  width: 65px;
  background-color: royalblue;
  border: 2px solid slateblue;
  border-radius: 5px;
  margin-top: 3px;
}

.actions:hover {
  background-color: #FFEE45;
}

/* ログイン画面.xyz */

/* ホーム画面 */

.lists {
  margin-left: 10px;
}

.category {
  height: 50px;
  margin: 15px 0;
  position: absolute;
  top: 75px;
  left: calc(100vw - 145px);
}

.category-name {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
}

.main-title {
  padding: 0 10px;
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #CE4E4A;
  color: #F7F7F7;
  border-radius: 5px;
  font-size: 35px;
  font-style: italic;
}

.cate {
  width: 130px;
}

.category-create {
  background-color: lightskyblue;
  color: blue;
  border: 2px solid blue;
  width: 125px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  justify-content: center;
}

.category-create:hover {
  background-color: blue;
  color: lightskyblue;
}

.category-lists {
  margin-bottom: 10px;
}

.category-swtich {
  font-size: 22px;
  padding: 2px;
  background-color: #FFF579;
  border: 3px solid black;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  display: inline-flex;
}

.category-swtich:hover {
  background-color: black;
  color: #FFF579;
  font-size: 35px;
}

.item-title {
  display: flex;
  margin-left: 10px;
}

.item-summary {
  margin-left: 5px;
}

.item-lists {
  display: flex;
}

.item-number {
  width: 150px;
}

.item-name {
  width: calc(100vw - (150px + 70px + 150px));
}

.item-link {
  text-decoration: none;
  color: black;
}

.item-link:hover {
  color: #DC2B14;
  border-bottom: 1px solid #DC2B14;
}

.item-booking {
  width: 70px;
  display: flex;
  justify-content: center;
}

.item-booking-link {
  font-weight: bold;
  color: #F84031;
  border: 3px solid #E12800;
  background-color: #F4C600;
  border-radius: 3px;
}

.item-booking-link:hover {
  color: #F4C600;
  background-color: #F84031;
}

.item-rental {
  width: 150px;
  /* background-color: cyan; */
  display: flex;
  justify-content: center;
}

.on-loan {
  margin-top: 3px;
  color: #F84031;
  background-color: #fff100;
  border: 5px outset #ccc100;
  border-radius: 50px;
  padding: 0 5px;
}

.on-loan:hover {
  color: #fff100;
  background-color: #F84031;
}

.rental-path {
  margin-top: 3px;
  color: #0081D9;
  background-color: greenyellow;
  border: 5px outset #7FC06C;
  border-radius: 5px;
  padding: 0 5px;
}

.rental-path:hover {
  color: greenyellow;
  background-color: #0081D9;
}

/* ホーム画面.xyz */

/* 備品画面 */

.items-main {
  display: block;
  justify-content: center;
  align-content: center;
  margin: 10px 0 0 10px;
}

.switch {
  width: 100vw;
  /* background-color: red; */
  display: flex;
	justify-content: center;
	align-items: center;
  position: absolute;
  bottom: 25px;
}

.item-switch {
  margin: 0 4px 0;
  color: blue;
  text-decoration: none;
}

.item-switch:hover {
  color: #FF9A08;
}

.indispensable-required {
  color: red;
}

.indispensable {
  color: blue;
}

.show-font {
  margin-right: 20px;

}

.sell-btn {
  background-color: lightskyblue;
  color: blue;
  border: 2px solid blue;
  border-radius: 5px;
}

.sell-btn:hover {
  background-color: blue;
  color: lightskyblue;
}

.rental-list {
  margin: 3px 0;
}

/* 備品画面.xyz */

/* 予約部分 */

.booking-main {
  margin-left: 10px;
}

.booking-list {
  margin: 3px 0;
  display: flex;
  align-self: center;
}

.booking-lists {
  margin-left: 10px;
}

.booking-edit {
  color: blue;
  margin: 0 5px
}

.booking-edit:hover {
  color: #FF9A08;
}

/* 予約部分.xyz */

/* test */

/* 通常時はホバー時の文字を非表示にする */

.description {
  margin-top: 20px;
  display: inline-block;
}

.description-font {
  background-color: #4eb7d9;
  width: 70px;
  padding: 5px;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
}

.description:hover .hover {
  display: inline;

}

.description:hover .description-font {
  display: none;
}

.hover{
  display: none;

}

.hover-text {
  font-size: 20px;
  padding: 4px;
  border: 5px solid black;
  border-radius: 10px;
}

/* test.xyz */
